<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197488725561-urgc8m6abhu02j4eckg5ha29ekq3rn3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197488725561-urgc8m6abhu02j4eckg5ha29ekq3rn3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDTmsTzwPaqlsT18N_SNuIHoQ2bUs4UAC8</string>
	<key>GCM_SENDER_ID</key>
	<string>197488725561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosprojects.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-915ea</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-915ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197488725561:ios:ec2e3690298ed6b54647e8</string>
</dict>
</plist>